<h3 class="text-center m-4">Contact Section</h3>

<div class="contact-card container shadow">
    <div class="row">
        <div class="col-lg-6 card">
            <h1 class="text-center text-white heading">Atharva Labhasetwar</h1>
            <hr>
            <img src="../../assets/img.png" class="mx-auto d-block shadow img-fluid border" alt="avtar" id="img">

            <p class="para">Have been a learner and still learning to learn from many learners who whish to make me learn whatever Good they have learnt interested in Technology,computer Programming and yes Music is the CATALYST for me....</p> 
        </div>

        <div class="col-lg-6 card">
            <h1 class="text-center text-white heading">Wanna get in touch</h1>
            <h4>+91 9175947174</h4>
            <h4>atharvalabhasetwar@gmail.com</h4>
            <h4>@atharvalabhasetwar</h4>

        </div>


    </div>
</div>