<section id="Projects" class="services-mf pt-5 route test">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a p-3">
                        Projects
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>

        <div class="row p-3">

            <div class="col-md-4 colum1">
                <div class="service-box shadow border border-info border-2 p-5">
                    <div class="service-content">
                        <h2 class="s-title">TO-DO List</h2>
                        <p class="s-description text-center">
                            Developed website using HTML,CSS,javascript.
                        </p>
                        <p class="s-description text-center">
                            In this project we build To-Do list web app. In this web-application a person can save there
                            Daily routine and Do there daily task As they want to do they can add in web-application.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 colum1">
                <div class="service-box shadow border border-info border-2 p-5">
                    <div class="service-content">
                        <h2 class="s-title">TO-DO List</h2>
                        <p class="s-description text-center">
                            Developed website using HTML,CSS,javascript.
                        </p>
                        <p class="s-description text-center">
                            In this project we build To-Do list web app. In this web-application a person can save there
                            Daily routine and Do there daily task As they want to do they can add in web-application.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 colum1">
                <div class="service-box shadow border border-info border-2 p-5">
                    <div class="service-content">
                        <h2 class="s-title">TO-DO List</h2>
                        <p class="s-description text-center">
                            Developed website using HTML,CSS,javascript.
                        </p>
                        <p class="s-description text-center">
                            In this project we build To-Do list web app. In this web-application a person can save there
                            Daily routine and Do there daily task As they want to do they can add in web-application.
                        </p>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
</section>