.home img {
  margin-top: 5%;
  padding: 5px;
}
#sign {
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3px;
}

.banner {
  background-color: rgb(108, 83, 218);
  width: 80%;
  margin: auto;
  /* opacity: 50%; */
  color: rgb(252, 251, 246);
  text-align: center;
  border-radius: 15px;
  padding-bottom: 25px;
}

.banner h1 {
  margin-top: 15px;
  padding-top: 5px;
}

.banner hr {
  border-top: 5px solid white;
  width: 50%;
  margin: auto;
}

#social {
  margin: 15px;
}
