
<section class="home">
    <img src="../../assets/img.png" class="mx-auto d-block shadow img-fluid" alt="avtar">
</section>
<div class="containet">
    <img src="../../assets/sign.png" class="mx-auto d-block img-fluid" id = "sign" alt="avtar">
</div>

<div class="banner container-fluid">
    <h1>Developer</h1>
    <p>HTML | CSS | Bootstrap | JavaScript | Angular | React | React Native | NodeJS | MongoDB</p>
    <hr>
   <a href="https://www.linkedin.com/in/atharva-labhasetwar/" target="_blank"> <img src="../../assets/link.svg" class="img-fluid" id = "social" alt="avtar" style="width: 50px;"></a>
   <a href="https://www.instagram.com/its_atharva_labhasetwar" target="_blank"> <img src="../../assets/instagram.svg" class="img-fluid" id = "social" alt="avtar" style="width: 50px;"></a>
    <a href="https://github.com/atharval1" target="_blank"> <img src="../../assets/github.svg" class="img-fluid" id = "social" alt="avtar" style="width: 50px;"></a>
</div>

